# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.venv/
env/

# Django
db.sqlite3
*.log

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Arquivos estáticos gerados
staticfiles/