{% load static %}
<section class="before-after" id="transformacao">
  <div class="container">
    <div class="section-title">
      <span>✨ Da fotografia para uma lembrança eterna</span>

      <h2>Uma peça única feita à mão</h2>

      <p>"Cada peça é desenvolvida manualmente, respeitando as características únicas do pet, transformando uma fotografia em uma lembrança para toda a vida.

        — Amigurumis da Iara</p>
    </div>

    <div class="comparison">
      <div class="comparison-card">
        <img src="{% static 'img/comparison/cocker-real.png' %}" alt="Foto do Pet" />

        <h4>
          Antes <br />

          Foto do pet enviada pela cliente
        </h4>
      </div>

      <div class="comparison-arrow">➜</div>

      <div class="comparison-card">
        <img src="{% static 'img/comparison/cocker-croche.jpeg' %}" alt="Pet em Crochê" />

        <h4>
          Depois <br />

          Pet criado em Crochê + Feltragem
        </h4>
      </div>
    </div>
  </div>
</section>
